@model IEnumerable<Core.nhanvien>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tennhanvien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.socmnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.diachi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sodienthoai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gioitinh1.tengioitinh)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tennhanvien)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.socmnd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.diachi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sodienthoai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gioitinh1.tengioitinh)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
