@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Tour du lịch</h1>
    <p class="lead">Demo chức năng</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Nhân viên", "Index", "nhanviens")</h2>
        <p>Thêm nhân viên</p>
        <p><a class="btn btn-default" href="nxbs">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Khách hàng", "Index", "khachhangs")</h2>
        <p>
            Thêm khách hàng
        </p>
        <p><a class="btn btn-default" href="phieunhaps">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Đoàn du lịch", "Index", "doanduliches")</h2>
        <p>Thêm đoàn du lịch</p>
        <p><a class="btn btn-default" href="phieuxuats">Learn more &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Nhiệm vụ", "Index", "nhiemvus")</h2>
        <p>Thêm nhiệm vụ cho nhân viên</p>
        <p><a class="btn btn-default" href="nxbs">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Phân công", "Index", "phancongs")</h2>
        <p>
            Thêm phân công mới cho nhân viên
        </p>
        <p><a class="btn btn-default" href="phieunhaps">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Phiếu thanh toán", "Index", "phieuthanhtoans")</h2>
        <p>Thêm phiếu thanh toán cho đoàn du lịch</p>
        <p><a class="btn btn-default" href="phieuxuats">Learn more &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Thống kê chi phí", "Index", "thongkechiphi")</h2>
        <p>Thống kê chi phí đoàn du lịch</p>
        <p><a class="btn btn-default" href="nxbs">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Thống kê nhân viên", "Index", "thongkenhanvien")</h2>
        <p>
            Thống kê số lần đi tour của nhân viên
        </p>
        <p><a class="btn btn-default" href="phieunhaps">Learn more &raquo;</a></p>
    </div>
</div>